body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    padding: 20px;
}

h1 {
    color: #00796b; 
    margin-bottom: 30px;
}

#date {
    font-size: 16px;
    color: #00695c;
}

/* Form Styling */
form {
    max-width: 700px;
    margin: 0 auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Input Fields - Medium Width and Space Between */
input[type="text"], input[type="date"], textarea {
    border-radius: 10px;
    border: 1px solid #80deea; 
    padding: 15px;
    font-size: 1.1rem; 
    width: 100%; 
    max-width: 500px; 
    margin-bottom: 20px; 
}

/* On Focus Styling */
input[type="text"]:focus, input[type="date"]:focus, textarea:focus {
    border: 2px solid #00796b; 
    box-shadow: 0 0 6px rgba(0, 121, 107, 0.5);
}


/* Space between Form and Task List */
#todo-list {
    margin-top: 30px;
}

/* Task Card Styling */
.card {
    background-color: #ffffff;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #00796b;
}

.card-subtitle {
    font-size: 0.9rem;
    margin-top: 5px;
    color: #004d40;
}

.card-text {
    color: #004d40;
}

/* Task Actions */
.remove-btn {
    background-color: #004d40;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

.remove-btn:hover {
    background-color: #00796b;
}

.col-md-4 {
    max-width: 600px;
    margin: 0 auto;
}

/* Task Item Checkbox */
input[type="checkbox"] {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* "Add Task" Button */
button {
    padding: 15px 25px;
    background: linear-gradient(45deg, #00796b, #004d40);
    color: white;
    border: none;
    border-radius: 50px; /* Round corners */
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(45deg, #004d40, #00796b); 
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
